<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <p>
    <%= @full_name %>
  </p>
  <h4>Favorite food</h4>
  <p>
    <%= @food %>
  </p>
  <h4>Favorite animal</h4>
  <p>
    <%= @animal %>
  </p>
</div>
